form(action='/login',method='post')
  div(data-role='fieldcontain')
    fieldset(data-role='controlgroup')
      label(for='email1') Email: 
         input(id='email1',type='text',value='',placeholder='you@example.com',name='email1', style='margin-left:130px')
  div#passworddiv(data-role='fieldcontain')
    fieldset(data-role='controlgroup')
      label(for='password1') Password: 
         input(id='password1',type='password',value='',placeholder='',name='password1', style='margin-left:100px')
  div(data-role='fieldcontain')   
    input(type='submit',value='Log In',data-transition='fade', data-theme='c')