extends layout

block content
  h1= title
  p Connect to the homeless in your area

  img(src= "http://www.allcharitiescount.com/file/pic/photo/2013/02/60c93b9bcd26034c7715b752145f55e1_500.jpg")

  p First time using Gimme-Shelter? Welcome! Please fill out the form below:
    include signUp.jade

  p Log in to send out notices:
    include form.jade

