form(action='/add',method='post')
  div(data-role='fieldcontain')
    fieldset(data-role='controlgroup')
      label(for='organizationName') Organization Name: 
         input(id='organizationName',type='text',value='',name='organizationName', size = 70)
  div(data-role='fieldcontain')
    fieldset(data-role='controlgroup')
      label(for='address') Address: 
         input(id='address',type='text',value='',name='address', size = 70)
  div(data-role='fieldcontain')
    fieldset(data-role='controlgroup')
      label(for='email') email
         input(id='email',type='text',value='',placeholder='@',name='email')
  div#passworddiv(data-role='fieldcontain')
    fieldset(data-role='controlgroup')
      label(for='password') password
         input(id='password',type='password',value='',placeholder='',name='password')
  div(data-role='fieldcontain')   
    input(type='submit',value='Sign Up',data-transition='fade', data-theme='c')